*

!.gitignore
!.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/settings.gradle

!/docs/
!/docs/**
!/gradle/
!/gradle/**
!/images/
!/images/**
!/libs/
!/libs/**
!/src/
!/src/**
